include ../header.jade

mixin LicenseOption(name, period, price, audience)
        .item
            h4 #{name}
                
            .focus #{period}

            span #{price}
                
            h5 Suggested for:
                
            span #{audience}
                
            a.button(href="/resources/pdf/spaCy_License_Agreement_2015.pdf", target="_blank") Download license

            span or #[a(href="mailto:sales@spacy.io") get in touch]

- var Page = InitPage(Site, Authors.spacy, "license", "License")

+WritePage(Site, Authors.spacy, Page)
    article.pricing
        .box.license
            +LicenseOption("Trial", "90 days", "$0", "Evaluation")
            +LicenseOption("Production", "1 year", "$5,000", "Production")
            +LicenseOption("Certainty", "5 years", "$20,000", "Secure Planning")

        p.caption Researcher, hobbyist, or open-source developer? spaCy also offers #[a(href="http://www.gnu.org/licenses/agpl-3.0.en.html") AGPLv3] licenses.
 
        blockquote.pull-quote
            p Let's face it: Services disappear. Constantly. The good start-ups get bought; the bad ones go bankrupt.

        p You need the source, and you need to know you can buy a long-term license. So that's what we offer. The difference between this and a black-box API is night and day.
            
        p Let's face it: services disappear.  Constantly. The good start-ups get bought; the bad ones go bankrupt.  Open-source projects become abandoned or bloated.  Google's graveyard is over-flowing &ndash; ditto for Yahoo!, Microsoft, etc. Sure, IBM won't be broke...But will BlueMix be sunset?

        p A 5 year license won't expire until 2020.  spaCy will be with you for longer than most of your current staff.  If that's still not enough, get in touch. We can surely work something out.

