- var Meta = {}
- Meta.headline = "Load new word vectors"
- Meta.description = "Word vectors allow simple similarity queries, and drive many NLP applications. This tutorial explains how to load custom word vectors into spaCy, to make use of task or data-specific representations."
- Meta.author_id = "matt"
- Meta.date = "2015-09-24"
- Meta.url = "/tutorials/load-new-word-vectors"
- Meta.active = { "blog": true }
- Meta.links = []
