- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "Displaying linguistic structure with CSS"
- Meta.description = "One of the features of the relaunch I'm most excited about is the displaCy visualizer and annotation tool. This solves two problems I've thought about a lot: first, how can I help people understand what information spaCy gives them access to? Without a good visualization, the ideas are very abstract.  Second, how can we make dependency trees easy for humans to create?"
- Meta.date = "2015-08-19"
- Meta.url = "/blog/displacy"
- Meta.links = [{}]
- Meta.links[0].id = 'reddit'
- Meta.links[0].name = 'Reddit'
- Meta.links[0].title = 'Discuss on Reddit'
- Meta.links[0].url = "https://www.reddit.com/r/programming/comments/3hoj0b/displaying_linguistic_structure_with_css/"
- Meta.image = "https://spacy.io/resources/img/displacy_screenshot.jpg"
