- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "AGPL Not Free Enough: Switching to MIT"
- Meta.description = "Three big announcements: we're changing license, to MIT from AGPL; a new co-founder is coming on board, Henning Peters; and we're launching a new service, to adapt spaCy's statistical models to your task."
- Meta.date = "2015-09-28"
- Meta.url = "/blog/spacy-now-mit"
- Meta.links = []

