mixin Displacy(sentence, caption_text, height)
  - var url = "https://api.spacy.io/displacy/?full=" + sentence.replace(" ", "%20")

  .displacy
    iframe.displacy(src="/resources/displacy/displacy_demo.html" height=height)
    
    a.view-displacy(href=url, target="_blank")
      | Interactive Visualizer

    p.caption.
      #{caption_text}


+Displacy(
  "Click the button to see this sentence in displaCy.",
  "The best parse-tree visualizer and annotation tool in all the land.",
  275
)

p #[a(href="https://api.spacy.io/displacy") displaCy] lets you peek inside spaCy's syntactic parser, as it reads a sentence word-by-word. By repeatedly choosing from a small set of actions, it links the words together according to their syntactic structure. This type of representation powers a wide range of technologies, from translation and summarization, to sentiment analysis and algorithmic trading.  #[a(href="/blog/displacy") Read more.]


