mixin example(name)
  details
    summary
      h4= name
    block


+example("Load resources and process text")
  pre.language-python: code
    include ../../code/home.load_resources_and_process_text

+example("Multi-threaded generator (using OpenMP. No GIL!)")
  pre.language-python: code
    include ../../code/home.multithreading

+example("Get tokens and sentences")
  pre.language-python: code
    include ../../code/home.get_tokens_and_sentences

+example("Use integer IDs for any string")
  pre.language-python: code
    include ../../code/home.use_integer_ids_for_any_strings

+example("Get and set string views and flags")
  pre.language-python: code
    include ../../code/home.get_and_set_string_views_and_flags

+example("Export to numpy arrays")
  pre.language-python: code
    include ../../code/home.export_to_numpy_arrays

+example("Word vectors")
  pre.language-python: code
    include ../../code/home.word_vectors

+example("Part-of-speech tags")
  pre.language-python: code
    include ../../code/home.part_of_speech_tags

+example("Syntactic dependencies")
  pre.language-python: code
    include ../../code/home.syntactic_dependencies

+example("Named entities")
  pre.language-python: code
    include ../../code/home.named_entities

  //+example("Define custom NER rules")
  //  pre.language-python: code
  //    | nlp.matcher


+example("Calculate inline mark-up on original string")
  pre.language-python: code
    include ../../code/home.calculate_inline_mark_up_on_original_string

+example("Efficient binary serialization")
  pre.language-python: code
    include ../../code/home.efficient_binary_serialization

+example("Full documentation")
  ul
    li: a(href="/docs#api") API documentation
    li: a(href="/docs#tutorials") Tutorials
    li: a(href="/docs#spec") Annotation specs
