include ../_includes/_mixins

//-  Demos
//- ============================================================================

+grid('padding')
    each demo, slug in demos
        +grid-col('half', 'space-between')
            .teaser
                a(href='https://' + slug + '.spacy.io' target='_blank')
                    .image-ratio: img(src='/demos/img/' + demo.image.file)
                
                +h2
                    a.block(href='https://' + slug + '.spacy.io' target='_blank')=demo.title
                
                p=demo.description

    !=partial('../_includes/_newsletter', { divider: 'top' })
