recursive-include include *.h
recursive-include spacy *.txt *.pyx *.pxd
include LICENSE
include README.md
include bin/spacy
include pyproject.toml
recursive-exclude spacy/lang *.json
recursive-include spacy/lang *.json.gz
recursive-include licenses *
