[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
spacy = {editable = true,path = "."}
black = "*"
flake8 = "<3.6.0,>=3.5.0"

[packages]
cymem = ">=2.0.2,<2.1.0"
preshed = ">=2.0.1,<2.1.0"
thinc = "<7.1.0,>=7.0.2"
blis = "<0.3.0,>=0.2.2"
murmurhash = "<1.1.0,>=0.28.0"
wasabi = "<1.1.0,>=0.2.0"
srsly = "<1.1.0,>=0.0.6"
numpy = ">=1.15.0"
requests = "<3.0.0,>=2.13.0"
plac = ">=0.9.6,<1.0.0"
pathlib = "==1.0.1"
jsonschema = ">=2.6.0,<3.1.0"
pytest = "<4.1.0,>=4.0.0"
pytest-timeout = "<2.0.0,>=1.3.0"
mock = "<3.0.0,>=2.0.0"
Cython = ">=0.25"
natto-py = "*"

[requires]
python_version = "3.7.3"

[pipenv]
allow_prereleases = true
