- var Meta = {}
- Meta.headline = "Tutorial: Mark all adverbs, particularly for verbs of speech"
- Meta.author_id = 'matt'
- Meta.description = "Let's say you're developing a proofreading tool, or possibly an IDE for writers.  You're convinced by Stephen King's advice that adverbs are not your friend so you want to highlight all adverbs."
- Meta.date = "2015-08-18"
- Meta.url = "/tutorials/mark-adverbs"
- Meta.active = { "blog": true }
- Meta.links = []