//- 💫 DOCS > API > ANNOTATION > DEPENDENCY LABELS

+h(3, "dependency-parsing-english") English dependency labels

p
    |  The English dependency labels use the #[+a("http://www.clearnlp.com") ClearNLP]
    |  #[+a("http://www.mathcs.emory.edu/~choi/doc/clear-dependency-2012.pdf") CLEAR Style].

+table(["Label", "Description"])
    +dep-row("acomp", "adjectival complement")
    +dep-row("advcl", "adverbial clause modifier")
    +dep-row("advmod", "adverbial modifier")
    +dep-row("agent", "agent")
    +dep-row("amod", "adjectival modifier")
    +dep-row("appos", "appositional modifier")
    +dep-row("attr", "attribute")
    +dep-row("aux", "auxiliary")
    +dep-row("auxpass", "auxiliary (passive)")
    +dep-row("cc", "coordinating conjunction")
    +dep-row("ccomp", "clausal complement")
    +dep-row("complm", "complementizer")
    +dep-row("conj", "conjunct")
    +dep-row("cop", "copula")
    +dep-row("csubj", "clausal subject")
    +dep-row("csubjpass", "clausal subject (passive)")
    +dep-row("dep", "unclassified dependent")
    +dep-row("det", "determiner")
    +dep-row("dobj", "direct object")
    +dep-row("expl", "expletive")
    +dep-row("hmod", "modifier in hyphenation")
    +dep-row("hyph", "hyphen")
    +dep-row("infmod", "infinitival modifier")
    +dep-row("intj", "interjection")
    +dep-row("iobj", "indirect object")
    +dep-row("mark", "marker")
    +dep-row("meta", "meta modifier")
    +dep-row("neg", "negation modifier")
    +dep-row("nmod", "modifier of nominal")
    +dep-row("nn", "noun compound modifier")
    +dep-row("npadvmod", "noun phrase as adverbial modifier")
    +dep-row("nsubj", "nominal subject")
    +dep-row("nsubjpass", "nominal subject (passive)")
    +dep-row("num", "number modifier")
    +dep-row("number", "number compound modifier")
    +dep-row("oprd", "object predicate")
    +dep-row("obj", "object")
    +dep-row("obl", "oblique nominal")
    +dep-row("parataxis", "parataxis")
    +dep-row("partmod", "participal modifier")
    +dep-row("pcomp", "complement of preposition")
    +dep-row("pobj", "object of preposition")
    +dep-row("poss", "possession modifier")
    +dep-row("possessive", "possessive modifier")
    +dep-row("preconj", "pre-correlative conjunction")
    +dep-row("prep", "prepositional modifier")
    +dep-row("prt", "particle")
    +dep-row("punct", "punctuation")
    +dep-row("quantmod", "modifier of quantifier")
    +dep-row("rcmod", "relative clause modifier")
    +dep-row("root", "root")
    +dep-row("xcomp", "open clausal complement")

+h(3, "dependency-parsing-german") German dependency labels

p
    |  The German dependency labels use the
    |  #[+a("http://www.ims.uni-stuttgart.de/forschung/ressourcen/korpora/TIGERCorpus/annotation/index.html") TIGER Treebank]
    |  annotation scheme.

+table(["Label", "Description"])
    +dep-row("ac", "adpositional case marker")
    +dep-row("adc", "adjective component")
    +dep-row("ag", "genitive attribute")
    +dep-row("ams", "measure argument of adjective")
    +dep-row("app", "apposition")
    +dep-row("avc", "adverbial phrase component")
    +dep-row("cc", "comparative complement")
    +dep-row("cd", "coordinating conjunction")
    +dep-row("cj", "conjunct")
    +dep-row("cm", "comparative conjunction")
    +dep-row("cp", "complementizer")
    +dep-row("cvc", "collocational verb construction")
    +dep-row("da", "dative")
    +dep-row("dh", "discourse-level head")
    +dep-row("dm", "discourse marker")
    +dep-row("ep", "expletive es")
    +dep-row("hd", "head")
    +dep-row("ju", "junctor")
    +dep-row("mnr", "postnominal modifier")
    +dep-row("mo", "modifier")
    +dep-row("ng", "negation")
    +dep-row("nk", "noun kernel element")
    +dep-row("nmc", "numerical component")
    +dep-row("oa", "accusative object")
    +dep-row("oa", "second accusative object")
    +dep-row("oc", "clausal object")
    +dep-row("og", "genitive object")
    +dep-row("op", "prepositional object")
    +dep-row("par", "parenthetical element")
    +dep-row("pd", "predicate")
    +dep-row("pg", "phrasal genitive")
    +dep-row("ph", "placeholder")
    +dep-row("pm", "morphological particle")
    +dep-row("pnc", "proper noun component")
    +dep-row("rc", "relative clause")
    +dep-row("re", "repeated element")
    +dep-row("rs", "reported speech")
    +dep-row("sb", "subject")
