mixin Teaser(title, url, date_long, date_short, author, lede)
  article.post
    header
      h2
        a(href=url)= title
      .subhead
        | by 
        a(href='#', rel='author')= author
        |  on 
        time(datetime=date_short)= date_long
    p!= lede
      &nbsp;
      a.readmore(href='#') ►



doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title spaCy Blog
    meta(name='description', content='')
    meta(name='author', content='Matthew Honnibal')
    link(rel='stylesheet', href='css/style.css')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body#blog
    header(role='banner')
      h1.logo spaCy Blog
      .slogan Blog

    nav(role="navigation")
      ul
        li: a(href="home.html")        Home
        li: a(href="docs.html")        Docs
        li.active: a(href="blog.html") Blog
        li: a(href="license.html")     License

    main#content(role='main')
      section.intro.profile
        p
          img(src='img/matt.png')
          | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
          span.social
            a(href='#') Follow me on Twitter
        nav(role='navigation')
          ul
            li
              a.button(href='#') Blog
            li
              a.button(href='#tutorials') Tutorials
      section.blogs
        +Teaser(
          "Introducing spaCy",
          "blog_intro.html",
          "February 2015",
          "2015-02-18",
          "Matthew Honnibal",
          "<strong>spaCy</strong> is a new library for text processing in Python " +
          "and Cython. I wrote it because I think small companies are terrible at " +
          "natural language processing (NLP).  Or rather: small companies are using " +
          "terrible NLP technology."
        )

        +Teaser(
          "Parsing English with 500 lines of Python",
          "blog_parser.html",
          "December 18, 2013",
          "2013-12-18",
          "Matthew Hannibal",
          "The Natural Language Processing (NLP) community has made big progress" +
          "in syntactic parsing over the last few years. It’s now possible for a" +
          "tiny Python implementation to perform better than the widely-used Stanford " +
          "PCFG parser.")
        +Teaser(
          "A good Part-of-Speech tagger in about 200 lines of Python",
          "blog_tagger.html",
          "October 11, 2013",
          "2013-09-11",
          "Matthew Honnibal",
          "There are a tonne of “best known techniques” for POS tagging, and you " +
          "should ignore the others and just use greedy Averaged Perceptron."
        )

      section.intro
        h2
          a.permalink(href='#tutorials', name='tutorials') Tutorials

      section.tutorials
        include ./tutorials.jade

    footer(role="contentinfo")
      span.slogan.copyright &copy; 2015 Syllogism Co.

    script(src='js/prism.js')
