mixin Section(title_text, link_name, include_file)
  h3: a(name=link_name href=link_name) #{title_text}

  if (link_name == "example-use")
    include ./usage_examples.jade
  else if (link_name == "online-demo")
    include ./online_demo.jade
  else if (link_name == "comparisons")
    include ./comparisons.jade
  else if (link_name == "install")
    include ./installation.jade
  else if (link_name == "api")
    include ./api.jade
  else if (link_name == "tutorials")
    include ./tutorials.jade
  else if (link_name == "spec")
    include ./spec.jade


