- var slogan = "Build Tomorrow's Language Technologies"
- var tag_line = "spaCy &ndash; " + slogan


doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title!= tag_line
    meta(name="description" content="")
    meta(name="author" content="Matthew Honnibal")
    link(rel="stylesheet" href="css/style.css")
    <!--[if lt IE 9]>
    script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

  body(id="home" role="document")
    header(role="banner")
      h1(class="logo")!= tag_line
      div(class="slogan")!= slogan

    nav(role="navigation")
      ul
        li: a(href="#") Home
        li: a(href="#") Docs
        li: a(href="#") License
        li: a(href="#") More

    main(id="content" role="main")
      block intro_block

      block body_block
 
  footer(role="contentinfo")

  script(src="js/prism.js")
  script(src="js/details_polyfill.js")
