doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title spaCy Blog
    meta(name='description', content='')
    meta(name='author', content='Matthew Honnibal')
    link(rel='stylesheet', href='css/style.css')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body#blog(role="document")
    header(role='banner')
      h1.logo spaCy Blog
      .slogan Blog

    nav(role="navigation")
      ul
        li: a(href="home.html")        Home
        li: a(href="docs.html")        Docs
        li.active: a(href="blog.html") Blog
        li: a(href="license.html")     License

    main#content(role='main')
      block intro_block

      block body_block
 
  footer(role='contentinfo')

  script(src="js/prism.js")
  script(src="js/details_polyfill.js")
