mixin Tutorial(title)
  details
    summary
      h4= title 

    block

+Tutorial("Mark-up all manner adverbs, especially for verbs of speech")
  | Let's say you're developing a proofreading tool, or possibly an IDE for
  | writers.  You're convinced by Stephen King's advice that 
  | adverbs are not your friend
  | so you want to 
  a.readmore(href='tute_adverbs.html') 
    | highlight all adverbs. ►

+Tutorial("Search Reddit for comments about Google doing something")
  | Example use of the spaCy NLP tools for data exploration.
  | Here we will look for Reddit comments that describe Google doing something,
  | i.e. discuss the company's actions. This is difficult, because other
  | senses of "Google" now dominate usage of the word in conversation,
  | particularly references to using Google products. 
  a.readmore(href='tute_adverbs.html') 
    | ►

+Tutorial("Use word vectors for semantic search of Twitter")
  | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
  | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.
  a.readmore(href='tute_twitter.html') 
    | ►
