- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "Parsing English in 500 lines of Python"
- Meta.description = "This post explains how transition-based dependency parsers work, and argues that this algorithm represents a break-through in natural language understanding.  A concise sample implementation is provided, in 500 lines of Python, with no external dependencies.  This post was written in 2013. In 2015 this type of parser is now increasingly dominant."
- Meta.date = "2013-12-18"
- Meta.url = "/blog/parsing-english-in-python"
- Meta.links = [{}, {}]
- Meta.links[0].id = 'reddit'
- Meta.links[0].name = "Reddit"
- Meta.links[0].title = 'Reddit Thread'
- Meta.links[0].url = "https://www.reddit.com/r/programming/comments/245jte/parsing_english_with_500_lines_of_python/"
- Meta.links[1].id = 'hn'
- Meta.links[1].name = "Hacker News Thread"
- Meta.links[1].title = 'Hacker News'
- Meta.links[1].url = "https://news.ycombinator.com/item?id=7658864"
