include ./header
include ./mixins.jade

- var Page = InitPage(Site, Authors.spacy, "home", '404')
- Page.canonical_url = null
- Page.is_error = true
- Site.slogan = "404"
- Page.active = {}

+WritePage(Site, Authors['spacy'], Page)
    h2 Page not found

    section.intro
        p The page you tried to access was not found. #[a(href="javascript:history.back()") Click here] to go back.
