//- ----------------------------------
//- 💫 VARIABLES
//- ----------------------------------

// Settings and Sizes

$type-base: 11px

$nav-height: 55px
$content-width: 800px
$sidebar-width: 230px
$aside-width: 300px
$aside-padding: 25px

$logo-sizes: ( large: 500px, medium: 250px, small: 100px, tiny: 65px )
$grid: ( third: 3, half: 2, two-thirds: 1.5 )
$breakpoints: ( sm: 768px, md: 992px, lg: 1200px )


//  Fonts

$font-primary: "Source Sans Pro", Tahoma, Geneva, sans-serif !default
$font-code: 'Source Code Pro', Consolas, 'Andale Mono', Menlo, Monaco, Courier, monospace !default


// Colors

$color-theme: #09a3d5
$color-theme-dark: #008ebc
$color-back: #fff
$color-front: #222

$color-subtle: #ddd
$color-subtle-light: #f6f6f6
$color-subtle-dark: #999

$syntax-highlighting: ( comment: #999, tag: #3ec930, number: #8130c9, selector: #09a3d5, operator: #e4514f, function: #09a3d5, keyword: #e4514f, regex: #f4c025 )
