//- 💫 DOCS > API > ANNOTATION > DEPENDENCY LABELS

p
    |  This section lists the syntactic dependency labels assigned by
    |  spaCy's #[+a("/models") models]. The individual labels are
    |  language-specific and depend on the training corpus.

+accordion("Universal Dependency Labels")
    p
        |  The #[+a("http://universaldependencies.org/u/dep/") Universal Dependencies scheme]
        |  is used in all languages trained on Universal Dependency Corpora.

    +table(["Dep", "Description"])
        +ud-row("acl", "clausal modifier of noun (adjectival clause)")
        +ud-row("advcl", "adverbial clause modifier")
        +ud-row("advmod", "adverbial modifier")
        +ud-row("amod", "adjectival modifier")
        +ud-row("appos", "appositional modifier")
        +ud-row("aux", "auxiliary")
        +ud-row("case", "case marking")
        +ud-row("cc", "coordinating conjunction")
        +ud-row("ccomp", "clausal complement")
        +ud-row("clf", "classifier")
        +ud-row("compound", "compound")
        +ud-row("conj", "conjunct")
        +ud-row("cop", "copula")
        +ud-row("csubj", "clausal subject")
        +ud-row("dep", "unspecified dependency")
        +ud-row("det", "determiner")
        +ud-row("discourse", "discourse element")
        +ud-row("dislocated", "dislocated elements")
        +ud-row("expl", "expletive")
        +ud-row("fixed", "fixed multiword expression")
        +ud-row("flat", "flat multiword expression")
        +ud-row("goeswith", "goes with")
        +ud-row("iobj", "indirect object")
        +ud-row("list", "list")
        +ud-row("mark", "marker")
        +ud-row("nmod", "nominal modifier")
        +ud-row("nsubj", "nominal subject")
        +ud-row("nummod", "numeric modifier")
        +ud-row("obj", "object")
        +ud-row("obl", "oblique nominal")
        +ud-row("orphan", "orphan")
        +ud-row("parataxis", "parataxis")
        +ud-row("punct", "punctuation")
        +ud-row("reparandum", "overridden disfluency")
        +ud-row("root", "root")
        +ud-row("vocative", "vocative")
        +ud-row("xcomp", "open clausal complement")

+accordion("English", "dependency-parsing-english")
    p
        |  The English dependency labels use the
        |  #[+a("https://github.com/clir/clearnlp-guidelines/blob/master/md/specifications/dependency_labels.md") CLEAR Style]
        |  by #[+a("http://www.clearnlp.com") ClearNLP].

    +table(["Label", "Description"])
        +dep-row("acl", "clausal modifier of noun (adjectival clause)")
        +dep-row("acomp", "adjectival complement")
        +dep-row("advcl", "adverbial clause modifier")
        +dep-row("advmod", "adverbial modifier")
        +dep-row("agent", "agent")
        +dep-row("amod", "adjectival modifier")
        +dep-row("appos", "appositional modifier")
        +dep-row("attr", "attribute")
        +dep-row("aux", "auxiliary")
        +dep-row("auxpass", "auxiliary (passive)")
        +dep-row("case", "case marking")
        +dep-row("cc", "coordinating conjunction")
        +dep-row("ccomp", "clausal complement")
        +dep-row("compound", "compound")
        +dep-row("conj", "conjunct")
        +dep-row("cop", "copula")
        +dep-row("csubj", "clausal subject")
        +dep-row("csubjpass", "clausal subject (passive)")
        +dep-row("dative", "dative")
        +dep-row("dep", "unclassified dependent")
        +dep-row("det", "determiner")
        +dep-row("dobj", "direct object")
        +dep-row("expl", "expletive")
        +dep-row("intj", "interjection")
        +dep-row("mark", "marker")
        +dep-row("meta", "meta modifier")
        +dep-row("neg", "negation modifier")
        +dep-row("nn", "noun compound modifier")
        +dep-row("nounmod", "modifier of nominal")
        +dep-row("npmod", "noun phrase as adverbial modifier")
        +dep-row("nsubj", "nominal subject")
        +dep-row("nsubjpass", "nominal subject (passive)")
        +dep-row("nummod", "numeric modifier")
        +dep-row("oprd", "object predicate")
        +dep-row("obj", "object")
        +dep-row("obl", "oblique nominal")
        +dep-row("parataxis", "parataxis")
        +dep-row("pcomp", "complement of preposition")
        +dep-row("pobj", "object of preposition")
        +dep-row("poss", "possession modifier")
        +dep-row("preconj", "pre-correlative conjunction")
        +dep-row("prep", "prepositional modifier")
        +dep-row("prt", "particle")
        +dep-row("punct", "punctuation")
        +dep-row("quantmod", "modifier of quantifier")
        +dep-row("relcl", "relative clause modifier")
        +dep-row("root", "root")
        +dep-row("xcomp", "open clausal complement")

+accordion("German", "dependency-parsing-german")
    p
        |  The German dependency labels use the
        |  #[+a("http://www.ims.uni-stuttgart.de/forschung/ressourcen/korpora/TIGERCorpus/annotation/index.html") TIGER Treebank]
        |  annotation scheme.

    +table(["Label", "Description"])
        +dep-row("ac", "adpositional case marker")
        +dep-row("adc", "adjective component")
        +dep-row("ag", "genitive attribute")
        +dep-row("ams", "measure argument of adjective")
        +dep-row("app", "apposition")
        +dep-row("avc", "adverbial phrase component")
        +dep-row("cc", "comparative complement")
        +dep-row("cd", "coordinating conjunction")
        +dep-row("cj", "conjunct")
        +dep-row("cm", "comparative conjunction")
        +dep-row("cp", "complementizer")
        +dep-row("cvc", "collocational verb construction")
        +dep-row("da", "dative")
        +dep-row("dh", "discourse-level head")
        +dep-row("dm", "discourse marker")
        +dep-row("ep", "expletive es")
        +dep-row("hd", "head")
        +dep-row("ju", "junctor")
        +dep-row("mnr", "postnominal modifier")
        +dep-row("mo", "modifier")
        +dep-row("ng", "negation")
        +dep-row("nk", "noun kernel element")
        +dep-row("nmc", "numerical component")
        +dep-row("oa", "accusative object")
        +dep-row("oa", "second accusative object")
        +dep-row("oc", "clausal object")
        +dep-row("og", "genitive object")
        +dep-row("op", "prepositional object")
        +dep-row("par", "parenthetical element")
        +dep-row("pd", "predicate")
        +dep-row("pg", "phrasal genitive")
        +dep-row("ph", "placeholder")
        +dep-row("pm", "morphological particle")
        +dep-row("pnc", "proper noun component")
        +dep-row("rc", "relative clause")
        +dep-row("re", "repeated element")
        +dep-row("rs", "reported speech")
        +dep-row("sb", "subject")
