//- 💫 DOCS > USAGE > FACTS & FIGURES > BENCHMARKS > CHOI ET AL. (2015)

+table(["System", "Year", "Language", "Accuracy", "Speed (wps)"])
    +row
        +cell #[strong spaCy v2.x]
        +cell 2017
        +cell Python / Cython
        +cell("num") #[strong 92.6]
        +cell("num") #[em n/a]
            |  #[+help("This table shows speed as benchmarked by Choi et al. We therefore can't provide comparable figures, as we'd be running the benchmark on different hardware.").u-color-dark]

    +row
        +cell #[strong spaCy v1.x]
        +cell 2015
        +cell Python / Cython
        +cell("num") 91.8
        +cell("num") 13,963

    +row
        +cell ClearNLP
        +cell 2015
        +cell Java
        +cell("num") 91.7
        +cell("num") 10,271

    +row
        +cell CoreNLP
        +cell 2015
        +cell Java
        +cell("num") 89.6
        +cell("num") 8,602

    +row
        +cell MATE
        +cell 2015
        +cell Java
        +cell("num") 92.5
        +cell("num") 550

    +row
        +cell Turbo
        +cell 2015
        +cell C++
        +cell("num") 92.4
        +cell("num") 349
