//- 💫 DOCS > USAGE > FACTS & FIGURES > BENCHMARKS > CHOI ET AL. (2015)

+table(["System", "Year", "Language", "Accuracy", "Speed (wps)"])
    +row
        +cell #[strong spaCy v2.x]
        +cell 2017
        +cell Python / Cython
        +cell.u-text-right #[strong 92.6]
        +cell.u-text-right #[em n/a]
            |  #[+help("This table shows speed as benchmarked by Choi et al. We therefore can't provide comparable figures, as we'd be running the benchmark on different hardware.").u-color-dark]

    +row
        +cell #[strong spaCy v1.x]
        +cell 2015
        +cell Python / Cython
        +cell.u-text-right 91.8
        +cell.u-text-right 13,963

    +row
        +cell ClearNLP
        +cell 2015
        +cell Java
        +cell.u-text-right 91.7
        +cell.u-text-right 10,271

    +row
        +cell CoreNLP
        +cell 2015
        +cell Java
        +cell.u-text-right 89.6
        +cell.u-text-right 8,602

    +row
        +cell MATE
        +cell 2015
        +cell Java
        +cell.u-text-right 92.5
        +cell.u-text-right 550

    +row
        +cell Turbo
        +cell 2015
        +cell C++
        +cell.u-text-right 92.4
        +cell.u-text-right 349
