//- 💫 DOCS > USAGE > FACTS & FIGURES > FEATURE COMPARISON

p
    |  Here's a quick comparison of the functionalities offered by spaCy,
    |  #[+a("https://github.com/tensorflow/models/tree/master/research/syntaxnet") SyntaxNet],
    |  #[+a("http://www.nltk.org/py-modindex.html") NLTK] and
    |  #[+a("http://stanfordnlp.github.io/CoreNLP/") CoreNLP].

+table(["", "spaCy", "SyntaxNet", "NLTK", "CoreNLP"])
    +row
        +cell Programming language
        each lang in ["Python", "C++", "Python", "Java"]
            +cell.u-text-small.u-text-center=lang

    +row
        +cell Neural network models
            each answer in ["yes", "yes", "no", "yes"]
                +cell.u-text-center #[+procon(answer)]

    +row
        +cell Integrated word vectors
        each answer in ["yes", "no", "no", "no"]
            +cell.u-text-center #[+procon(answer)]

    +row
        +cell Multi-language support
        each answer in ["yes", "yes", "yes", "yes"]
            +cell.u-text-center #[+procon(answer)]

    +row
        +cell Tokenization
        each answer in ["yes", "yes", "yes", "yes"]
            +cell.u-text-center #[+procon(answer)]

    +row
        +cell Part-of-speech tagging
        each answer in ["yes", "yes", "yes", "yes"]
            +cell.u-text-center #[+procon(answer)]

    +row
        +cell Sentence segmentation
        each answer in ["yes", "yes", "yes", "yes"]
            +cell.u-text-center #[+procon(answer)]

    +row
        +cell Dependency parsing
        each answer in ["yes", "yes", "no", "yes"]
            +cell.u-text-center #[+procon(answer)]

    +row
        +cell Entity recognition
        each answer in ["yes", "no", "yes", "yes"]
            +cell.u-text-center #[+procon(answer)]

    +row
        +cell Coreference resolution
        each answer in ["no", "no", "no", "yes"]
            +cell.u-text-center #[+procon(answer)]
