- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "Analysing the Reddit hivemind with sense2vec, using spaCy and Gensim"
- Meta.description = "If you were doing text analytics in 2015, you were probably using word2vec. Sense2vec is a new twist on word2vec that lets you learn more ineresting, detailed and context-sensitive word vectors.  This post motivates the idea, introduces our implementation, and comes with an interactive demo that we've found surprisingly  addictive."
- Meta.date = "2016-02-15"
- Meta.url = "/blog/sense2vec-with-spacy"
- Meta.links = []
