//- 💫 DOCS > API > CYTHON > CLASSES > LEXEME

p
    |  A Cython class providing access and methods for an entry in the
    |  vocabulary.

+infobox
    |  This section documents the extra C-level attributes and methods that
    |  can't be accessed from Python. For the Python documentation, see
    |  #[+api("lexeme") #[code Lexeme]].

+h(3, "lexeme_attributes") Attributes

+table(["Name", "Type", "Description"])
    +row
        +cell #[code c]
        +cell #[code LexemeC*]
        +cell
            |  A pointer to a #[+api("cython-structs#lexemec") #[code LexemeC]]
            |  struct.

    +row
        +cell #[code vocab]
        +cell #[code Vocab]
        +cell A reference to the shared #[code Vocab] object.

    +row
        +cell #[code orth]
        +cell #[+abbr("uint64_t") #[code attr_t]]
        +cell ID of the verbatim text content.
