//- 💫 DOCS > API > CYTHON > CLASSES > STRINGSTORE

p A lookup table to retrieve strings by 64-bit hashes.

+infobox
    |  This section documents the extra C-level attributes and methods that
    |  can't be accessed from Python. For the Python documentation, see
    |  #[+api("stringstore") #[code StringStore]].

+h(3, "stringstore_attributes") Attributes

+table(["Name", "Type", "Description"])
    +row
        +cell #[code mem]
        +cell #[code cymem.Pool]
        +cell
            |  A memory pool. Allocated memory will be freed once the
            |  #[code StringStore] object is garbage collected.

    +row
        +cell #[code keys]
        +cell #[+abbr("vector[uint64_t]") #[code vector[hash_t]]]
        +cell A list of hash values in the #[code StringStore].
