//- 💫 DOCS > USAGE > DEEP LEARNING > DYNET

+infobox
    +infobox-logos(["dynet", 80, 34, "http://dynet.readthedocs.io/"])
    |  #[strong DyNet] is a dynamic neural network library, which can be much
    |  easier to work with for NLP. Outside of Google, there's a general shift
    |  among NLP researchers to both DyNet and Pytorch. You can use DyNet to
    |  create spaCy pipeline components, to add annotations to the #[code Doc]
    |  object.

+under-construction
