//- 💫 DOCS > USAGE > DEEP LEARNING > SCIKIT-LEARN

+infobox
    +infobox-logos(["scikitlearn", 70, 34, "http://scikit-learn.org"])
    |  #[strong scikit-learn] features a number of useful NLP functions,
    |  especially for solving text classification problems using linear models
    |  with bag-of-words features. If you know you need exactly that, it might
    |  be better to use scikit-learn's built-in pipeline directly. However, if
    |  you want to extract more detailed features, using part-of-speech tags,
    |  named entity labels, or string transformations, you can use spaCy as a
    |  pre-process in your classification system. scikit-learn also provides a
    |  lot of experiment management and evaluation utilities that people use
    |  alongside spaCy.

+under-construction
