- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "Dead Code Should be Buried"
- Meta.description = "Natural Language Processing moves fast, so maintaining a good library means constantly throwing things away.  Most libraries are failing badly at this, as academics hate to editorialize. This post explains the problem, why it's so damaging, and why I wrote spaCy to do things differently."
- Meta.date = "2015-09-04"
- Meta.url = "/blog/dead-code-should-be-buried"
- Meta.links = [{}, {}]
- Meta.links[0].id = 'hn'
- Meta.links[0].name = "Hacker News Thread"
- Meta.links[0].title = 'Hacker News'
- Meta.links[0].url = "http://news.ycombinator.com/item?id=10173669"
- Meta.links[1].id = 'reddit'
- Meta.links[1].name = "Reddit"
- Meta.links[1].title = '/r/programming'
- Meta.links[1].url = "https://www.reddit.com/r/programming/comments/3jmgck/dead_code_should_be_buried_why_i_wrote_spacy/"

