- var Meta = {}
- Meta.headline = "Finding Relevant Tweets"
- Meta.author_id = 'matt'
- Meta.description = "In this tutorial, we will use word vectors to search for tweets about Jeb Bush. We'll do this by building up two word lists: one that represents the type of meanings in the Jeb Bush tweets, and another to help screen out irrelevant tweets that mention the common, ambiguous word 'bush'."
- Meta.date = "2015-08-18"
- Meta.url = "/tutorials/twitter-filter"
- Meta.active = { "blog": true }
- Meta.links = []
