- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "Introducing spaCy"
- Meta.description = "Computers don't understand text.  This is unfortunate, because that's what the web almost entirely consists of.  We want to recommend people text based on other text they liked.  We want to shorten text to display it on a mobile screen.  We want to aggregate it, link it, filter it, categorise it, generate it and correct it. spaCy provides a library of utility functions that help programmers build such products."
- Meta.date = "2015-02-19"
- Meta.url = "/blog/introducing-spacy"
- Meta.links = [{}, {}]
- Meta.links[0].id = 'reddit'
- Meta.links[0].name = "Reddit"
- Meta.links[0].title = 'Reddit Thread'
- Meta.links[0].url = "https://www.reddit.com/r/programming/comments/2tlyrr/spacy_industrialstrength_nlp_with_pythoncython"
- Meta.links[1].id = 'hn'
- Meta.links[1].name = "Hacker News Thread"
- Meta.links[1].title = 'Hacker News'
- Meta.links[1].url = "https://news.ycombinator.com/item?id=8942783"
