- var Meta = {}
- Meta.author_id = 'spacy'
- Meta.headline = "Tutorial: Adding a language to spaCy"
- Meta.description = "Long awaited documentation for adding a language to spaCy"
- Meta.date = "2015-08-18"
- Meta.url = "/tutorials/add-a-language"
- Meta.active = { "blog": true }
- Meta.links = []
