//- ----------------------------------
//- 💫 DOCS > TUTORIALS
//- ----------------------------------

+section("tutorials")
    +h(2, "tutorials") Tutorials

    each post, slug in public.docs.tutorials._data
        if slug != 'index'
            a.o-block(href='/docs/tutorials/' + slug)
                +h(3)=post.title
                p=post.description
