//- 💫 DOCS

include ../_includes/_mixins

+aside("Help us improve the docs")
    |  Did you spot a mistake or come across explanations that
    |  are unclear? You can find a "Suggest edits" button at the
    |  bottom of each page that points you to the source.
    |  We always appreciate
    |  #[+a(gh("spaCy") + "/pulls") pull requests].#[br]#[br]
    |  Have you built something cool with spaCy, or did you
    |  write a tutorial to help others use spaCy?
    |  #[a(href="mailto:#{EMAIL}") Let us know!]

+grid
    each details, title in sections
        +card(false, false)
            a(href=details.url)
                +svg("graphics", details.svg, 300, 150).u-color-theme

            a(href=details.url)
                +h(3)=title

            p=details.description
            +button(details.url, true, "primary")(target="_self") View
