//- ----------------------------------
//- 💫 DOCS
//- ----------------------------------

include ../_includes/_mixins

- var link_bool = 'http://docs.python.org/library/functions.html#bool'
- var link_int = 'http://docs.python.org/library/functions.html#int'
- var link_unicode = 'http://docs.python.org/library/functions.html#unicode'

include _quickstart-install
include _quickstart-examples

+h(2, "api") API

include _api-english
include _api-doc
include _api-token
include _api-span
include _api-lexeme
include _api-vocab
include _api-stringstore

include _annotation-specs
include _tutorials
