- var Meta = {}
- Meta.headline = "Search Reddit for comments about Google doing something"
- Meta.description = "Example use of the spaCy NLP tools for data exploration. Here we will look for Reddit comments that describe Google doing something, i.e. discuss the company's actions. This is difficult, because other senses of \"Google\" now dominate usage of the word in conversation, particularly references to using Google products."
- Meta.author_id = "matt"
- Meta.date = "2015-08-18"
- Meta.url = "/tutorials/syntax-search"
- Meta.active = { "blog": true }
- Meta.links = []
