//- ----------------------------------
//- 💫 COMPONENTS > MISC
//- ----------------------------------

.x-terminal
    background: $color-subtle
    color: $color-front
    border-radius: 10px
    width: 100%

.x-terminal__icons
    position: absolute
    padding: 10px

    &:before,
    &:after,
    span
        @include size(15px)
        display: inline-block
        float: left
        border-radius: 50%
        margin-right: 10px

    &:before
        content: ""
        background: #e4514f

    span
        background: #3ec930

    &:after
        content: ""
        background: #f4c025

.x-terminal__code
    background: $color-front
    color: $color-back
    margin: 0
    border: none
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    width: 100%
    max-width: 100%
    white-space: pre-wrap
