.root
    background: var(--color-back)
    border-radius: 2em
    border: 1px solid var(--color-subtle)
    width: 100%
    padding: 0.25em 1em
    display: inline-flex
    margin: var(--spacing-xs) 0
    font: var(--font-size-code)/var(--line-height-code) var(--font-code)
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto

.textarea
    flex: 100%
    background: transparent
    resize: none
    font: inherit
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    margin-right: 1rem

.prefix
    margin-right: 0.75em
    color: var(--color-subtle-dark)
