.root
    vertical-align: middle

.inline
    margin: 0 0.55em 0 0.1em

.tag
    vertical-align: bottom
    height: 100%
    position: relative
    top: 1px

.success
    color: var(--color-green-medium)

.error
    color: var(--color-red-medium)

.subtle
    color: var(--color-subtle-dark)
