.root
    &:not(:last-child):not(:last-of-type)
        margin-bottom: var(--spacing-md)
        padding-bottom: var(--spacing-md)
        border-bottom: 1px dotted var(--color-subtle)

.hr
    border: 0
    padding: var(--spacing-sm) 0
