//- 💫 INCLUDES > FOOTER

include _mixins

footer.o-footer.u-text.u-border-dotted
    +grid.o-content
        each group, label in FOOTER
            +grid-col("quarter")
                ul
                    li.u-text-label.u-color-subtle=label

                    each url, item in group
                        li
                            +a(url)=item

        if SECTION != "docs"
            +grid-col("quarter")
                include _newsletter

    if SECTION == "docs"
        .o-content.o-block.u-border-dotted
            include _newsletter

    .o-inline-list.u-text-center.u-text-tiny.u-color-subtle
        span &copy; 2016-#{new Date().getFullYear()} #[+a(COMPANY_URL, true)=COMPANY]

        +a(COMPANY_URL, true)
            +svg("graphics", "explosion", 45).o-icon.u-color-theme.u-grayscale

        +a(COMPANY_URL + "/legal", true) Legal / Imprint
