//- ----------------------------------
//- 💫 INCLUDES > FUNCTIONS
//- ----------------------------------

//- Add prefixes to items of an array (for modifier CSS classes)

-   function prefixArgs(array, prefix) {
-       return array.map(function(arg) {
-           return prefix + '--' + arg;
-       }).join(' ');
-   }
