//- 💫 INCLUDES > TOP NAVIGATION

nav.c-nav.u-text.js-nav(class=landing ? "c-nav--theme" : null)
    a(href="/" aria-label=SITENAME) #[+logo]

    ul.c-nav__menu
        - var current_url = '/' + current.path[0]
        each url, item in NAVIGATION
            - var is_active = (current_url == url)
            li.c-nav__menu__item(class=is_active ? "is-active" : null)
                +a(url)(tabindex=is_active ? "-1" : null)=item

        li.c-nav__menu__item.u-hidden-xs
            +a("https://survey.spacy.io", true) User Survey 2018

        li.c-nav__menu__item.u-hidden-xs
            +a(gh("spaCy"))(aria-label="GitHub") #[+icon("github", 20)]

    progress.c-progress.js-progress(value="0" max="1")
