//- 💫 INCLUDES > TOP NAVIGATION

include _mixins

nav.c-nav.u-text.js-nav(class=landing ? "c-nav--theme" : null)
    a(href='/') #[+logo]

    if SUBSECTION != "index"
        .u-text-label.u-padding-small.u-hidden-xs=SUBSECTION

    ul.c-nav__menu
        each url, item in NAVIGATION
            li.c-nav__menu__item(class=(url == "/") ? "u-hidden-xs" : null)
                +a(url)=item

        li.c-nav__menu__item
            +a(gh("spaCy"))(aria-label="GitHub").u-hidden-xs #[+icon("github", 20)]
