//- 💫 INCLUDES > DOCS PAGE TEMPLATE

- sidebar_content = (public[SECTION] ? public[SECTION]._data.sidebar : public._data[SECTION] ? public._data[SECTION].sidebar : false) || FOOTER

include _sidebar

main.o-main.o-main--sidebar.o-main--aside
    article.o-content
        +grid.o-no-block
            +h(1).u-heading--title=title.replace("'", "’")
                if tag
                    +tag=tag
                if tag_new
                    +tag-new(tag_new)

                if teaser
                    .u-heading__teaser.u-text-small.u-color-dark=teaser
                else if IS_MODELS
                    .u-heading__teaser.u-text-small.u-color-dark
                        |  Available statistical models for
                        |  #[code=current.source] (#{LANGUAGES[current.source]}).

            if source
                .o-block.u-text-right
                    +button(gh("spacy", source), false, "secondary", "small").u-nowrap
                        |  Source #[+icon("code", 14)]

        if IS_MODELS
            include _page_models
        else
            !=yield

    +grid.o-content.u-text
        +grid-col("half")
            if !IS_MODELS
                .o-inline-list
                    +button(gh("spacy", "website/" + current.path.join('/') + ".jade"), false, "secondary", "small")
                        |  #[span.o-icon Suggest edits] #[+icon("code", 14)]

        +grid-col("half").u-text-right
            if next && public[SECTION]._data[next]
                - data = public[SECTION]._data[next]

                +grid("vcenter")
                    +a(next).u-text-small.u-flex-full
                        h4.u-text-label.u-color-dark Read next
                        |  #{data.title}

                    +a(next).c-icon-button.c-icon-button--right(aria-hidden="true")
                        +icon("arrow-right", 24)

    +gitter("spaCy chat")

    include _footer
