//- 💫 INCLUDES > DOCS PAGE TEMPLATE

- sidebar_content = (SUBSECTION != "index") ? public.docs[SUBSECTION]._data.sidebar : public.docs._data.sidebar || FOOTER

include _sidebar

main.o-main.o-main--sidebar.o-main--aside
    article.o-content
        +grid.o-no-block
            +grid-col(source ? "two-thirds" : "full")
                +h(1)=title
                    if tag
                        +tag=tag

            if source
                +grid-col("third").u-text-right
                    .o-inline-list
                        +button(gh("spacy", source), false, "secondary").u-text-tag Source #[+icon("code", 14)]


        if ALPHA
            +infobox("⚠️ You are viewing the spaCy v2.0.0 alpha docs")
                strong This page is part of the alpha documentation for spaCy v2.0.
                |  It does not reflect the state of the latest stable release.
                |  Because v2.0 is still under development, the actual
                |  implementation may differ from the intended state described
                |  here.
                |  #[+a("#") See here] for more information on how to install
                |  and test the new version. To read the official docs for
                |  v1.x, #[+a("https://spacy.io/docs") go here].

        !=yield

    +grid.o-content.u-text
        +grid-col("half")
            if next && public.docs[SUBSECTION]._data[next]
                - data = public.docs[SUBSECTION]._data[next]

                .o-inline-list
                    span #[strong.u-text-label Read next:] #[+a(next).u-link=data.title]

        +grid-col("half").u-text-right
            .o-inline-list
                +button(gh("spacy", "website/" + current.path.join('/') + ".jade"), false, "secondary").u-text-tag Suggest edits #[+icon("code", 14)]

    +gitter("spaCy chat")

    include _footer
