//- ----------------------------------
//- 💫 INCLUDES > SCRIPTS
//- ----------------------------------

each script in SCRIPTS
    script(src="/assets/js/" + script + ".js", type="text/javascript")

if landing
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

if environment == "deploy"
    script window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date; ga('create', '#{ANALYTICS}', 'auto'); ga('send', 'pageview');

    script(async src="https://www.google-analytics.com/analytics.js")
