- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "Statistical NLP in Basic English"
- Meta.description = "When I was little, my favorite TV shows all had talking computers. Now I’m big and there are still no talking computers, so I’m trying to make some myself. Well, we can make computers say things. But when we say things back, they don’t really understand. Why not?"
- Meta.date = "2015-08-24"
- Meta.url = "/blog/eli5-computers-learn-reading/"
- Meta.links = []
//- Meta.links[0].id = 'reddit'
//- Meta.links[0].name = "Reddit"
//- Meta.links[0].title = 'Reddit Thread'
//- Meta.links[0].url = "https://www.reddit.com/r/technology/comments/3i8utl/computers_are_learning_to_read_because_we_show/"
//- Meta.links[1].id = 'hn'
//- Meta.links[1].name = "Hacker News Thread"
//- Meta.links[1].title = 'Hacker News'
//- Meta.links[1].url = "https://news.ycombinator.com/item?id=7658864"
