//- 💫 DOCS > API > ANNOTATION SPECS

include ../_includes/_mixins

+section("text-processing")
    +h(2, "text-processing") Text Processing
    include _annotation/_text-processing

+section("pos-tagging")
    +h(2, "pos-tagging") Part-of-speech Tagging

    +aside("Tip: Understanding tags")
        |  You can also use #[code spacy.explain()] to get the description for the
        |  string representation of a tag. For example,
        |  #[code spacy.explain("RB")] will return "adverb".

    include _annotation/_pos-tags

+section("dependency-parsing")
    +h(2, "dependency-parsing") Syntactic Dependency Parsing

    +aside("Tip: Understanding labels")
        |  You can also use #[code spacy.explain()] to get the description for the
        |  string representation of a label. For example,
        |  #[code spacy.explain("prt")] will return "particle".

    include _annotation/_dep-labels

+section("named-entities")
    +h(2, "named-entities") Named Entity Recognition

    +aside("Tip: Understanding entity types")
        |  You can also use #[code spacy.explain()] to get the description for the
        |  string representation of an entity label. For example,
        |  #[code spacy.explain("LANGUAGE")] will return "any named language".

    include _annotation/_named-entities

    +h(3, "biluo") BILUO Scheme

    include _annotation/_biluo

+section("training")
    +h(2, "training") Models and training data

    include _annotation/_training
