//- 💫 DOCS > API > CYTHON > CLASSES

include ../_includes/_mixins

+section("doc")
    +h(2, "doc", "spacy/tokens/doc.pxd") Doc
        +tag cdef class

    include _cython/_doc

+section("token")
    +h(2, "token", "spacy/tokens/token.pxd") Token
        +tag cdef class

    include _cython/_token

+section("span")
    +h(2, "span", "spacy/tokens/span.pxd") Span
        +tag cdef class

    include _cython/_span

+section("lexeme")
    +h(2, "lexeme", "spacy/lexeme.pxd") Lexeme
        +tag cdef class

    include _cython/_lexeme

+section("vocab")
    +h(2, "vocab", "spacy/vocab.pxd") Vocab
        +tag cdef class

    include _cython/_vocab

+section("stringstore")
    +h(2, "stringstore", "spacy/strings.pxd") StringStore
        +tag cdef class

    include _cython/_stringstore
