//- 💫 DOCS > API > DEPENDENCYPARSER

include ../_includes/_mixins

//- This class inherits from Pipe, so this page uses the template in pipe.jade.
!=partial("pipe", { subclass: "DependencyParser", short: "parser", pipeline_id: "parser" })
