//- 💫 DOCS > API > ENTITYRECOGNIZER

include ../_includes/_mixins

//- This class inherits from Pipe, so this page uses the template in pipe.jade.
!=partial("pipe", { subclass: "EntityRecognizer", short: "ner", pipeline_id: "ner" })
