//- 💫 DOCS > API > GOLDCORPUS

include ../_includes/_mixins

p
    |  This class manages annotations for tagging, dependency parsing and NER.

+h(2, "init") GoldCorpus.__init__
    +tag method

p Create a #[code GoldCorpus].

+table(["Name", "Type", "Description"])
    +row
        +cell #[code train]
        +cell unicode or #[code Path] or iterable
        +cell
            |  Training data, as a path (file or directory) or iterable. If an
            |  iterable, each item should be a #[code (text, paragraphs)]
            |  tuple, where each paragraph is a tuple
            |  #[code.u-break (sentences, brackets)],and each sentence is a
            |  tuple #[code.u-break (ids, words, tags, heads, ner)]. See the
            |  implementation of
            |  #[+src(gh("spacy", "spacy/gold.pyx")) #[code gold.read_json_file]]
            |  for further details.

    +row
        +cell #[code dev]
        +cell unicode or #[code Path] or iterable
        +cell Development data, as a path (file or directory) or iterable.

    +row("foot")
        +cell returns
        +cell #[code GoldCorpus]
        +cell The newly constructed object.
