//- 💫 DOCS > API > TAGGER

include ../_includes/_mixins

//- This class inherits from Pipe, so this page uses the template in pipe.jade.
!=partial("pipe", { subclass: "Tagger", pipeline_id: "tagger" })
