//- 💫 DOCS > API > TOP-LEVEL

include ../_includes/_mixins

+section("spacy")
    //-+h(2, "spacy") spaCy
    //- spacy/__init__.py
    include _top-level/_spacy

+section("displacy")
    +h(2, "displacy", "spacy/displacy") displaCy
    include _top-level/_displacy

+section("util")
    +h(2, "util", "spacy/util.py") Utility functions
    include _top-level/_util

+section("compat")
    +h(2, "compat", "spacy/compaty.py") Compatibility functions
    include _top-level/_compat
