- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "A Good Part-of-Speech Tagger in about 200 Lines of Python"
- Meta.description = "Up-to-date knowledge about natural language processing is mostly locked away in academia. And academics are mostly pretty self-conscious when we write. We’re careful. We don’t want to stick our necks out too much. But under-confident recommendations suck, so here’s how to write a good part-of-speech tagger."
- Meta.lede = "Lorem lede for parser blog post"
- Meta.date = "2013-09-18"
- Meta.url = "/blog/part-of-speech-POS-tagger-in-python"
- Meta.links = [{}]
- Meta.links[0].id = 'reddit'
- Meta.links[0].name = "Reddit"
- Meta.links[0].title = 'Reddit Thread'
- Meta.links[0].url = "https://www.reddit.com/r/programming/comments/1mdn75/a_good_partofspeech_tagger_in_200_lines_of_python/"
