- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "How spaCy works"
- Meta.description = "This post is a work in progress, explaining some of how spaCy is designed and implemented, and noting which algorithms were used.  spaCy is built on science, not alchemy, and when new discoveries are made, we publish them. We want to stay on the same page as the academic community, to use their work. Still, explaining everything takes time — so this post isn't yet as complete as we'd like it to be. Stay tuned."
- Meta.date = "2015-02-19"
- Meta.url = "/blog/how-spacy-works"
- Meta.links = []
