//- 💫 DOCS > USAGE > SPACY 101

include ../../_includes/_mixins

+h(2, "architecture") Architecture

+image
    include ../../assets/img/docs/architecture.svg
    .u-text-right
        +button("/assets/img/docs/architecture.svg", false, "secondary").u-text-tag View large graphic
