- var Meta = {}
- Meta.author_id = "matt"
- Meta.headline = "Writing C in Cython"
- Meta.description = "For the last two years, I’ve done almost all of my work in Cython. And I don’t mean, I write Python, and then “Cythonize” it, with various type-declarations et cetera. I just, write Cython. I use \"raw\" C structs and arrays, and occasionally C++ vectors, with a thin wrapper around malloc/free that I wrote myself. The code is almost always exactly as fast as C/C++, because that's really all it is, but with Python right there, if I want it."
- Meta.date = "2014-10-21"
- Meta.url = "/blog/writing-c-in-cython"
- Meta.links = [{}, {}]
- Meta.links[0].id = 'reddit'
- Meta.links[0].name = "Reddit"
- Meta.links[0].title = 'Reddit Thread'
- Meta.links[0].url = "https://www.reddit.com/r/Python/comments/2jvdw9/writing_c_in_cython/"
- Meta.links[1].id = 'hn'
- Meta.links[1].name = "Hacker News Thread"
- Meta.links[1].title = 'Hacker News'
- Meta.links[1].url = "https://news.ycombinator.com/item?id=8483872"
