mixin Tutorial(name)
    if name == "mark-adverbs"
        include ./mark-adverbs/meta.jade
    else if name == "syntax-search"
        include ./syntax-search/meta.jade
    else if name == "twitter-filter"
        include ./twitter-filter/meta.jade
    details(open)
        summary
            h4= Meta.headline
        p #[a(href=Meta.url) #{Meta.description}] #[a.readmore(href=Meta.url) ►]


+Tutorial("mark-adverbs")
+Tutorial("syntax-search")
+Tutorial("twitter-filter")
