//- 💫 DOCS > USAGE > DEEP LEARNING

include ../_includes/_mixins
+section
    +under-construction

+section("pre-processing")
    +h(2, "pre-processing") Pre-processing text for deep learning
    include _deep-learning/_pre-processing

+section("thinc")
    +h(2, "thinc") spaCy and Thinc
    include _deep-learning/_thinc

+section("tensorflow-keras")
    +h(2, "tensorflow-keras") Using spaCy with TensorFlow / Keras
    include _deep-learning/_tensorflow-keras

+section("scikit-learn")
    +h(2, "scikit-learn") Using spaCy with scikit-learn
    include _deep-learning/_scikit-learn

+section("pytorch")
    +h(2, "pytorch") Using spaCy with PyTorch
    include _deep-learning/_pytorch

+section("dynet")
    +h(2, "dynet") Using spaCy with DyNet
    include _deep-learning/_dynet
