//- 💫 DOCS > USAGE > MODELS

include ../_includes/_mixins

p
    |  spaCy's models can be installed as #[strong Python packages].
    |  This means that they're a component of your application, just like any
    |  other module. They're versioned and can be defined as a dependency in your
    |  #[code requirements.txt]. Models can be installed from a download URL or
    |  a local directory, manually or via #[+a("https://pypi.python.org/pypi/pip") pip].
    |  Their data can be located anywhere on your file system.

+aside("Important note")
    |  If you're upgrading to spaCy v1.7.x or v2.x, you need to
    |  #[strong download the new models]. If you've trained statistical models
    |  that use spaCy's annotations, you should #[strong retrain your models]
    |  after updating spaCy. If you don't retrain, you may suffer train/test
    |  skew, which might decrease your accuracy.

+section("quickstart")
    include _models/_quickstart

+section("available")
    +h(2, "available") Available models
    include _models/_available-models

    .u-text-right
        +button("/models", true, "primary", "small") View models directory


+section("install")
    +h(2, "download") Installing and using models
    include _models/_install

+section("languages")
    +h(2, "languages") Language support
    include _models/_languages

+section("production")
    +h(2, "production") Using models in production
    include _models/_production
