//- 💫 DOCS > USAGE > RESOURCES

include ../_includes/_mixins

+aside("Contribute to this page")
    |  Have you built something cool with spaCy or come across a paper, book or
    |  course that should be featured here?
    |  #[a(href="mailto:#{EMAIL}") Let us know!]

+section("libraries")
    +h(2, "libraries") Third-party libraries

    +grid
        +card("neuralcoref", "https://github.com/huggingface/neuralcoref", "Hugging Face", "github")
            |  State-of-the-art coreference resolution based on neural nets
            |  and spaCy

        +card("rasa_nlu", "https://github.com/golastmile/rasa_nlu", "LastMile", "github")
            |  High level APIs for building your own language parser using
            |  existing NLP and ML libraries.

        +card("textacy", "https://github.com/chartbeat-labs/textacy", "Burton DeWilde", "github")
            |  Higher-level NLP built on spaCy.

        +card("mordecai", "https://github.com/openeventdata/mordecai", "Andy Halterman", "github")
            | Full text geoparsing using spaCy, Geonames and Keras.

        +card("kindred", "https://github.com/jakelever/kindred", "Jake Lever", "github")
            |  Biomedical relation extraction using spaCy.

        +card("spacyr", "https://github.com/kbenoit/spacyr", "Kenneth Benoit", "github")
            |  An R wrapper for spaCy.

        +card("spacy_api", "https://github.com/kootenpv/spacy_api", "Pascal van Kooten", "github")
            |  Server/client to load models in a separate, dedicated process.

        +card("spacy-api-docker", "https://github.com/jgontrum/spacy-api-docker", "Johannes Gontrum", "github")
            |  spaCy accessed by a REST API, wrapped in a Docker container.

        +card("languagecrunch", "https://github.com/artpar/languagecrunch", "Parth Mudgal", "github")
            |  NLP server for spaCy, WordNet and NeuralCoref as a Docker image.

        +card("spacy-nlp-zeromq", "https://github.com/pasupulaphani/spacy-nlp-docker", "Phaninder Pasupula", "github")
            |  Docker image exposing spaCy with ZeroMQ bindings.

        +card("spacy-nlp", "https://github.com/kengz/spacy-nlp", "Wah Loon Keng", "github")
            |  Expose spaCy NLP text parsing to Node.js (and other languages)
            |  via Socket.IO.

    .u-text-right
        +button("https://github.com/search?o=desc&q=spacy&s=stars&type=Repositories&utf8=%E2%9C%93", false, "primary", "small") See more projects on GitHub

+section("extensions")
    +h(2, "extensions") Extensions & Pipeline Components

    p
        |  This section lists spaCy extensions and components you can plug into
        |  your processing pipeline. For more details, see the docs on
        |  #[+a("/usage/processing-pipelines#custom-components") custom components]
        |  and #[+a("/usage/processing-pipelines#extensions") extensions].

    +grid
        +card("spacymoji", "https://github.com/ines/spacymoji", "Ines Montani", "github")
            |  Pipeline component for emoji handling and adding emoji meta data
            |  to #[code Doc], #[code Token] and #[code Span] attributes.

        +card("spacy_hunspell", "https://github.com/tokestermw/spacy_hunspell", "Motoki Wu", "github")
            |  Add spellchecking and spelling suggestions to your spaCy pipeline
            |  using Hunspell.

        +card("spacy_cld", "https://github.com/nickdavidhaynes/spacy-cld", "Nicholas D Haynes", "github")
            |  Add language detection to your spaCy pipeline using Compact
            |  Language Detector 2 via PYCLD2.

        +card("spacy-lookup", "https://github.com/mpuig/spacy-lookup", "Marc Puig", "github")
            |  A powerful entity matcher for very large dictionaries, using the
            |  FlashText module.

    .u-text-right
        +button("https://github.com/topics/spacy-extension?o=desc&s=stars", false, "primary", "small") See more extensions on GitHub

+section("demos")
    +h(2, "demos") Demos & Visualizations

    +grid
        +card("Neural coref", "https://huggingface.co/coref/", "Hugging Face")
            +image("/assets/img/resources/neuralcoref.jpg").o-block-small
            |  State-of-the-art coreference resolution based on neural nets
            |  and spaCy.

        +card("sense2vec", "https://demos.explosion.ai/sense2vec", "Matthew Honnibal and Ines Montani")
            +image("/assets/img/resources/sense2vec.jpg").o-block-small
            |  Semantic analysis of the Reddit hivemind using sense2vec and spaCy.

        +card("displaCy", "https://demos.explosion.ai/displacy", "Ines Montani")
            +image("/assets/img/resources/displacy.jpg").o-block-small
            |  An open-source NLP visualiser for the modern web.

        +card("displaCy ENT", "https://demos.explosion.ai/displacy-ent", "Ines Montani")
            +image("/assets/img/resources/displacy-ent.jpg").o-block-small
            |  An open-source named entity visualiser for the modern web.

+section("books")
    +h(2, "books") Books & Courses

    +grid
        +card("Natural Language Processing Fundamentals in Python", "https://www.datacamp.com/courses/natural-language-processing-fundamentals-in-python", "Katharine Jarmul (Datacamp, 2017)", "course")
            |  An interactive online course on everything you need to know about
            |  Natural Language Processing in Python, featuring spaCy and NLTK.

        +card("Learning Path: Mastering SpaCy for Natural Language Processing", "https://www.safaribooksonline.com/library/view/learning-path-mastering/9781491986653/", "Aaron Kramer (O'Reilly, 2017)", "course")
            |  A hands-on introduction to using spaCy to discover insights
            |  through Natural Language Processing.

        +card("Introduction to Machine Learning with Python: A Guide for Data Scientists", "https://books.google.com/books?id=vbQlDQAAQBAJ", "Andreas C. Müller and Sarah Guido (O'Reilly, 2016)", "book")
            |  Andreas is a lead developer of Scikit-Learn, and Sarah is a lead
            |  data scientist at Mashable. We're proud to get a mention.

        +card("Text Analytics with Python", "https://www.amazon.com/Text-Analytics-Python-Real-World-Actionable/dp/148422387X", "Dipanjan Sarkar (Apress / Springer, 2016)", "book")
            |  A Practical Real-World Approach to Gaining Actionable Insights
            |  from your Data

        +card("Practical Machine Learning with Python", "", "Dipanjan Sarkar et al. (Apress, 2017)", "book")
            |  A Problem-Solver's Guide to Building Real-World Intelligent Systems

+section("notebooks")
    +h(2, "notebooks") Jupyter notebooks

    +grid
        +card("Modern NLP in Python", gh("spacy-notebooks", "notebooks/conference_notebooks/modern_nlp_in_python.ipynb"), "Patrick Harrison", "jupyter")
            |  Introduction to NLP in Python using spaCy and Gensim. Presented
            |  at PyData DC 2016.

        +card("Advanced Text Analysis", gh("spacy-notebooks", "notebooks/conference_notebooks/advanced_text_analysis.ipynb"), "Jonathan Reeve", "jupyter")
            |  Advanced Text Analysis with spaCy and Scikit-Learn. Presented at
            |  NYU during NYCDH Week 2017.

    .u-text-right
        +button(gh("spacy-notebooks"), false, "primary", "small") See more notebooks on GitHub

+section("videos")
    +h(2, "videos") Videos

    +youtube("sqDHBH9IjRU")

+section("research")
    +h(2, "research") Research systems

    p Researchers are using spaCy to build ambitious, next-generation text processing technologies. spaCy is particularly popular amongst the biomedical NLP community, who are working on extracting knowledge from the huge volume of literature in their field.

    +grid
        +card(false, "https://www.semanticscholar.org/paper/Choosing-an-NLP-Library-for-Analyzing-Software-Doc-Omran-Treude/72f280e47e91b30af24205fa24d53247605aa591", "Fouad Nasser A. Al Omran et al. (2017)", "book", "third")
            |  Choosing an NLP Library for Analyzing Software Documentation: A
            |  Systematic Literature Review and a Series of Experiments

        +card(false, "https://www.semanticscholar.org/paper/Mixing-Dirichlet-Topic-Models-and-Word-Embeddings-Moody/bf8116e06f7b498c6abfbf97aeb67d0838c08609", "Christopher E. Moody (2016)", "book", "third")
            |  Mixing Dirichlet Topic Models and Word Embeddings to Make lda2vec

        +card(false, "https://www.semanticscholar.org/paper/Refactoring-the-Genia-Event-Extraction-Shared-Task-Kim-Wang/06d94b64a7bd2d3433f57caddad5084435d6a91f", "Jin-Dong Kim et al. (2016)", "book", "third")
            |  Refactoring the Genia Event Extraction Shared Task Toward a
            |  General Framework for IE-Driven KB Development

        +card(false, "https://www.semanticscholar.org/paper/Predicting-Pre-click-Quality-for-Native-Zhou-Redi/564985430ff2fbc3a9daa9c2af8997b7f5046da8", "Ke Zhou et al. (2016)", "book", "third")
            |  Predicting Pre-click Quality for Native Advertisements

        +card(false, "https://www.semanticscholar.org/paper/Threat-detection-in-online-discussions-Wester-%C3%98vrelid/f4150e2fb4d8646ebc2ea84f1a86afa1b593239b", "Aksel Wester et al. (2016)", "book", "third")
            |  Threat detection in online discussions

        +card(false, "https://www.semanticscholar.org/paper/Distributional-semantics-for-understanding-spoken-Korpusik-Huang/5f55c5535e80d3e5ed7f1f0b89531e32725faff5", "Mandy Korpusik et al. (2016)", "book", "third")
            |  Distributional semantics for understanding spoken meal
            |  descriptions

    .u-text-right
        +button("https://scholar.google.com/scholar?scisbd=2&q=spacy&hl=en&as_sdt=1,5&as_vis=1", false, "primary", "small")
            |  See 200+ papers on Google Scholar
