//- 💫 DOCS > USAGE > WORD VECTORS & SIMILARITIES

include ../_includes/_mixins

+section("basics")
    include _vectors-similarity/_basics

+section("custom")
    +h(2, "custom") Customising word vectors
    include _vectors-similarity/_custom

+section("gpu")
    +h(2, "gpu") Storing vectors on a GPU
    include _vectors-similarity/_gpu
