//- 💫 404 ERROR

include _includes/_mixins

+landing-header
    h1.c-landing__title.u-heading-0
        | Ooops, this page#[br]
        | does not exist!

    h2.c-landing__title.u-heading-3.u-padding-small
        a(href="javascript:history.go(-1)") Click here to go back.
