//- 💫 SPACY ANNOUNCEMENT FROM 2016-08-09 (needs to stay for reference)

include _includes/_mixins

.o-content.u-padding
    +h(1)
        +label #[+date("2016-08-09")]
        | Dear spaCy users,

    p Unfortunately, we (Henning Peters and Matthew Honnibal) are parting ways. Breaking up is never easy, and it's taken us a while to get our stuff together. Hopefully, you didn't notice anything was up — if you did, we hope you haven't been inconvenienced.

    p Here's how this is going to work: Matt will continue to develop and maintain spaCy and all related projects under his name. Nothing will change for you. Henning will take over our legal structure and start a new business under a new name.

    p Sincerely,#[br] Henning Peters and Matthew Honnibal
