//- 💫 DOCS > USAGE > TRAINING > TEXT CLASSIFICATION

+under-construction

+h(3, "example-textcat") Example: Training spaCy's text classifier
    +tag-new(2)

p
    |  This example shows how to use and train spaCy's new
    |  #[+api("textcategorizer") #[code TextCategorizer]] pipeline component
    |  on IMDB movie reviews.

+github("spacy", "examples/training/train_textcat.py")
